SERIES- Very similar of NumPy array. Series can have acess labels , meaning it can be indexed by a lable , instead of just a number location.
It also need not store only numerical data it can contain any arbitary Python Object.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
lables=['a','b','c']
my_list=[10,20,30]
arr=np.array([10,20,30])
d={'a':10,'b':20,'c':30}

calling the lists by index

In [ ]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

calling the list by Lables

In [ ]:
pd.Series(data=my_list,index=lables)

a    10
b    20
c    30
dtype: int64

Calling the list by first specifying the list name and then the format of display (lables in this case )

In [ ]:
pd.Series(my_list,lables)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(arr,lables)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [ ]:
ser1 = pd.Series([1,2,3,4], index=['USA', 'Germany','USSR', 'Japan'])

In [ ]:
ser2 = pd.Series([1,2,5,4], index=['USA', 'Germany','Italy', 'Japan'])

In [ ]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [ ]:
ser1['USA']

1

Addition of Series

In [ ]:
ser1+ser2

USA         2
Germany     4
Italy      10
Japan       8
dtype: int64